<section class="row">
    <div class="col-8" >
        <div class="m-3">
            <div class="inner-box">
                <div class="section-tittle mb-10"> <h2>
                    Cours Overview
                   </h2>
                   </div>
                <p>Phasellus enim magna, varius et commodo ut, ultricies vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo. In libero urna, venenatis sit amet ornare non, suscipit nec risus. Sed consequat justo non mauris pretium at tempor justo sodales. Quisque tincidunt laoreet malesuada. Cum sociis natoque penatibus.</p>
                <p>Eleifend euismod pellentesque vel Phasellus enim magna, varius et commodo ut, ultricies vitae velit. Ut nulla tellus, sagittis vel justo. In libero urna, venenatis sit amet ornare non, suscipit nec risus. Sed consequat justo non mauris pretium at tempor justo sodales. Quisque tincidunt laoreet malesuada. Cum sociis natoque penatibus.</p>
                <!-- <ul class="student-list">
                    <li>23,564 Total Students</li>
                    <li><span class="theme_color">4.5</span> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span> (1254 Rating)</li>
                    <li>256 Reviews</li>
                </ul> -->
                <div class="section-tittle section-tittle2 mb-10 "> <h2>
                    What you’ll learn?
                   </h2>
                   </div>
                   
                <div class="single-features">
                    <div class="features-icon">
                        <img src="assets/img/icon/right-icon.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <p>Techniques to engage effectively with vulnerable children and young people.</p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="assets/img/icon/right-icon.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <p>Join millions of people from around the world  learning together.</p>
                    </div>
                </div>

                <div class="single-features">
                    <div class="features-icon">
                        <img src="assets/img/icon/right-icon.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <p>Join millions of people from around the world learning together. Online learning is as easy and natural.</p>
                    </div>
                </div>
                <div class="section-tittle section-tittle2 mb-10 "> <h2>
                     Requirements
                    </h2>
                    </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="assets/img/icon/right-icon.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <p>Techniques to engage effectively with vulnerable children and young people.</p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="assets/img/icon/right-icon.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <p>Join millions of people from around the world  learning together.</p>
                    </div>
                </div>

                <div class="single-features">
                    <div class="features-icon">
                        <img src="assets/img/icon/right-icon.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <p>Join millions of people from around the world learning together. Online learning is as easy and natural.</p>
                    </div>
                </div>                                                                                                         
            </div>
        </div>                                                
  
    </div>

    <div class="col-md-4">
        <div class="tab-content tabs-content" id="myTabContent">
            <div class="tab-pane tab fade show active" id="prod-overview" role="tabpanel" aria-labelledby="prod-overview-tab">
                <div class="content white-bg pt-30">
        <!-- Search Widget -->
        <!-- <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div> -->

        <!-- Categories Widget -->
        <!-- <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                  <li>
                    <a href="#">Freebies</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                  <li>
                    <a href="#">CSS</a>
                  </li>
                  <li>
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
            </div>
        </div> -->
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header"> Content</h5>
          <div class="card-body">
            <div class="video-column col-lg-4">
                <div class="inner-column">
                <!-- Video Box -->
                    <div class="intro-video media-icon orange-color2">
                        <app-video></app-video>
                        <h4>Preview this course</h4>
                    </div>
                    <!-- End Video Box -->
                    <div class="">
                        <ul>
                            <li class="">
                                <i class="fa fa-files-o"></i>
                                <span class="label">Lectures</span>
                                <span class="value">3</span>
                            </li>
                           
                            <li class="quizzes-feature">
                                <i class="fa fa-puzzle-piece"></i>
                                <span class="label">Quizzes</span>
                                <span class="value">0</span>
                            </li>
                           
                            <li class="duration-feature">
                                <i class="fa fa-clock-o"></i>
                                <span class="label">Duration</span>
                                <span class="value">10 week </span>
                            </li>
                          
                            <li class="students-feature">
                                <i class="fa fa-users"></i>
                                <span class="label">Students</span>
                                <span class="value">21</span>
                            </li>
                           
                            <li class="assessments-feature">
                                <i class="fa fa-check-square-o"></i>
                                <span class="label">Assessments</span>
                                <span class="value">Yes</span>
                            </li>
                        </ul>
                        
                    </div>
                
            
                    
                    <!-- <div class="btn-part">
                        <a href="#" class="btn readon2 orange">$35</a>
                        <a href="#" class="btn readon2 orange-transparent">Buy Now</a>
                    </div> -->
                </div>
            </div>
            <a href="course" class="border-btn border-btn2">Enroll</a>

          </div>
        </div>


    </div>

 
</section>