<section class="row" style="background-color: #f3f8f9; margin-right: 15px; ">
    <div class="col-8"  >

        
            <div class="row clearfix" >                        
                <!-- Content Column -->
                <div class="col-lg-8 md-mb-50"  >
                    <!-- Intro Info Tabs-->
                    <div class="intro-info-tabs">
                        <ul class="nav nav-tabs intro-tabs tabs-box" id="myTab" role="tablist">
                            <li class="nav-item tab-btns">
                                <a class="nav-link tab-btn active" id="prod-overview-tab" data-toggle="tab" href="#prod-overview" role="tab" aria-controls="prod-overview" aria-selected="true" style="color:black;">Overview</a>
                            </li>
                            <li class="nav-item tab-btns">
                                <a class="nav-link tab-btn" id="prod-curriculum-tab" data-toggle="tab" href="#prod-curriculum" role="tab" aria-controls="prod-curriculum" aria-selected="false" style="color:black;">Curriculum</a>
                            </li>
                            <li class="nav-item tab-btns">
                                <a class="nav-link tab-btn" id="prod-instructor-tab" data-toggle="tab" href="#prod-instructor" role="tab" aria-controls="prod-instructor" aria-selected="false" style="color:black;">Instructor</a>
                            </li>
                            <li class="nav-item tab-btns">
                                <a class="nav-link tab-btn" id="prod-faq-tab" data-toggle="tab" href="#prod-faq" role="tab" aria-controls="prod-faq" aria-selected="false" style="color:black;">Faq</a>
                            </li>
                        </ul>

        <div class="m-3">
            <div class="inner-box" style="background-color: white; padding-left: 35px; padding-right: 25px; padding-top: 20px; margin-right: -300px;">
                <div class="section-tittle mb-10"> <h2>
                    Cours Overview
                   </h2>
                   </div>
                <p>Phasellus enim magna, varius et commodo ut, ultricies vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo. In libero urna, venenatis sit amet ornare non, suscipit nec risus. Sed consequat justo non mauris pretium at tempor justo sodales. Quisque tincidunt laoreet malesuada. Cum sociis natoque penatibus.</p>
                <p>Eleifend euismod pellentesque vel Phasellus enim magna, varius et commodo ut, ultricies vitae velit. Ut nulla tellus, sagittis vel justo. In libero urna, venenatis sit amet ornare non, suscipit nec risus. Sed consequat justo non mauris pretium at tempor justo sodales. Quisque tincidunt laoreet malesuada. Cum sociis natoque penatibus.</p>
                <div class="section-tittle section-tittle2 mb-10 "> <h2>
                    What you’ll learn?
                   </h2>
                   </div>
                   
                <div class="single-features">
                    <div class="features-icon">
                        <img src="assets/img/icon/right-icon.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <p>Techniques to engage effectively with vulnerable children and young people.</p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="assets/img/icon/right-icon.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <p>Join millions of people from around the world  learning together.</p>
                    </div>
                </div>

                <div class="single-features">
                    <div class="features-icon">
                        <img src="assets/img/icon/right-icon.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <p>Join millions of people from around the world learning together. Online learning is as easy and natural.</p>
                    </div>
                </div>
                <div class="section-tittle section-tittle2 mb-10 "> <h2>
                     Requirements
                    </h2>
                    </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="assets/img/icon/right-icon.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <p>Techniques to engage effectively with vulnerable children and young people.</p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="assets/img/icon/right-icon.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <p>Join millions of people from around the world  learning together.</p>
                    </div>
                </div>

                <div class="single-features">
                    <div class="features-icon">
                        <img src="assets/img/icon/right-icon.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <p>Join millions of people from around the world learning together. Online learning is as easy and natural.</p>
                    </div>
                </div>                                                                                                         
            </div>
        </div>                                                
  
    </div>
</div>
</div>                                                
</div>


    <div class="col-md-4" >
        <div class="tab-content tabs-content" id="myTabContent">
            <div class="tab-pane tab fade show active" id="prod-overview" role="tabpanel" aria-labelledby="prod-overview-tab">
                <div class="content pt-30">
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4"><app-video></app-video></div>

        <div class="card my-4">
          <h5 class="card-header"> Content</h5>
          <div class="card-body">
            <div class="video-column col-lg-4">
                <div class="inner-column">
                <!-- Video Box -->
                    <div class="intro-video media-icon orange-color2">
                        
                        <h4>Preview this course</h4>
                    </div>
                    <!-- End Video Box -->
                    <div class="">
                        <ul>
                            <li class="">
                                <i class="fa fa-files-o" style="color:blueviolet;"></i>
                                <span class="label">Lectures</span>
                                <span class="value"> 3</span>
                            </li>
                           
                            <li class="quizzes-feature">
                                <i class="fa fa-puzzle-piece" style="color:blueviolet;"></i>
                                <span class="label">Quizzes</span>
                                <span class="value"> 0</span>
                            </li>
                           
                            <li class="duration-feature">
                                <i class="fa fa-clock-o" style="color:blueviolet;"></i>
                                <span class="label">Duration</span>
                                <span class="value"> 10 week </span>
                            </li>
                          
                            <li class="students-feature">
                                <i class="fa fa-users" style="color:blueviolet;"></i>
                                <span class="label">Students</span>
                                <span class="value"> 21</span>
                            </li>
                           
                            <li class="assessments-feature">
                                <i class="fa fa-check-square-o" style="color:blueviolet;"></i>
                                <span class="label">Assessments</span>
                                <span class="value"> Yes</span>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </div>
            <a href="course" class=" border-btn2 btn">Enroll</a>

          </div>
        </div>


    </div>

 
</section>